{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- about-us starts -->
<section class="about-us bg-white pb-6 pt-0">
    <div class="container">

        <!-- why us starts -->
        <div class="why-us">
            <div class="why-us-box">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center bg-lgrey">
                            <div class="why-us-icon">
                                <i class="flaticon-call theme"></i>
                            </div>
                            <div class="why-us-content">
                                <h4><a href="services-detail.html">Trusted By Thousands</a></h4>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center bg-lgrey">
                            <div class="why-us-icon">
                                <i class="flaticon-global theme"></i>
                            </div>
                            <div class="why-us-content">
                                <h4><a href="services-detail.html">Wide Renge Properties</a></h4>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center bg-lgrey">
                            <div class="why-us-icon">
                                <i class="flaticon-building theme"></i>
                            </div>
                            <div class="why-us-content">
                                <h4><a href="services-detail.html">Financing Made Easy</a></h4>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                        <div class="why-us-item text-center bg-lgrey">
                            <div class="why-us-icon">
                                <i class="flaticon-location-pin theme"></i>
                            </div>
                            <div class="why-us-content">
                                <h4><a href="services-detail.html">We are here near you</a></h4>
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- why us ends -->
    </div>
</section>
<!-- about-us ends -->

{% endblock content %}